.doc-bot-header{
    flex: 20;
    padding: 10px;
    background-color: yellow;
    vertical-align: top;
}

.doc-bot-body{
    flex: 70;
    padding: 10px;
    background-color: aqua;
}

.doc-bot-footer{
    flex: 10;
    padding: 10px;
    background-color: beige;
    vertical-align: bottom;
}
